# Mac OSX Finder

.DS_Store
# *(Autosaved).*
*.dmg
*.zip

# LispWorks files
*.*fasl
*.fasl
*.nfasl
*.ofasl
*.ufasl
*.lisp~
*.lisp#

/reference-pages/*

# Python
*.py~

# Executable
python/executable/dist/*
